/* ===GLOBAL STRUCTURE=== */

* {
  margin: 0;
}

html {
  position:relative;
  min-height: 100%;
}

html, body {
  height: 100%;
}

body {
     margin: 0 0 45px; /* bottom = footer height */
     background-color: #000000;
    }

/*add these gif classes to the body for a GIF background fallback*/
.gif-background-1 {
      background-image: url('http://www.itsposture.com/files/perfectdarknotext.gif');
      background-size: cover;
      background-repeat: no-repeat;
}

.gif-background-2 {
      background-image: url('http://itsposture.com/files/starzmobile.gif');
      background-size: cover;
      background-repeat: no-repeat;

}

.gif-background-3 {
      background-image: url('http://itsposture.com/files/pilotmobile.gif');
      background-size: cover;
      background-repeat: no-repeat;

}

.gif-background-4 {
      background-image: url('http://itsposture.com/files/kitiselleverything.gif');
      background-size: cover;
      background-repeat: no-repeat;
    }

.gif-background-5 {
      background-image: url('http://itsposture.com/files/k-globalmobile.gif');
      background-size: cover;
      background-repeat: no-repeat;
    }

.gif-background-6 {
      background-image: url('http://www.itsposture.com/files/atnightmobile.gif');
      background-size: cover;
      background-repeat: no-repeat;
    }


.no-show {
  visibility: hidden;
}

/* ===GLOBAL STYLE=== */
a {
  color:white;
  text-decoration: none;
}

a:visited {
  color:white;
}

h1 {
  font-size: 72px;
  line-height: 12px;
  margin-left: 20px;
  font-weight: bold;
  font-style: italic;
  display: inline-block;
}

h2{
  text-transform:uppercase;
  font-size:15px;
  letter-spacing:6px;
  margin-bottom:20px;
  margin-top:-10px;font-style:italic;
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
}

p {
  width: 100%;
}

.active {
  font-weight: bold;
}

/* ===HEADER=== */

header img {
  width:10%;
  max-width:200px;
  min-width: 150px;
  margin-bottom: -52%;
  margin-left: 89%;
}

/* ===CONTENT=== */

#container {
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
  font-family:helvetica;
  color: white;
  font-size: 14px;
}

#soundcloud-wrapper {
  margin: auto;
  width: 28%;
  margin-top: 11%;
}

a.next-page {
  text-decoration: none;
  opacity: 0.5%;
  font-size: x-large;
}

a.previous {
  text-decoration: none;
  opacity: 0.5%;
  font-size: x-large
}

/* ===SOCIAL MEDIA FOOTER=== */

a.icon-link {
  text-decoration: none;
  opacity: 0.5;
  font-size: x-large;
  float: left;
  margin-right: 1em;
}

a.icon-link:hover {
  opacity: 1;
}
a.download{
  text-decoration: none;
  font-size: none;
}

#social-media {
  height: 45px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

#download {
  float: left;
  display: inline;
/*  margin-left: 30%;*/
}

#download span {
  text-transform: uppercase;
  font-size: 15px;
  display: none;
}

#download:hover span {
  display: inline;
}

/* === MOBILE ONLY CONTENT=== */

#mobile-video {
  display: none;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 10;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ===MEDIA QUERIES=== */

/* Smartphones (portrait and landscape) ----------- */
@media (max-width: 600px) {
  header img {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    margin: auto;
    margin-bottom: 10px;
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 5;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #soundcloud-wrapper {
    width: 100%;
  }

}