/* reset  list style */
.cbp-tm-menu,
.cbp-tm-menu ul {
	font-family: 'Lato', sans-serif;
	list-style: none;
}

/* set menu position; change here to set to relative or float, etc. */
.cbp-tm-menu {
	display: block;
	z-index: 1000;
	bottom: 0;
	width: 100%;
	background: #000;
	text-align: right;
	padding: 0 2em;
	margin: 0;
	text-transform: uppercase;
	font-weight: 100;
}

.video .cbp-tm-menu {
	position: absolute;
}

/* first level menu items */
.cbp-tm-menu > li {
	display: inline-block;
	margin: 0 2.6em;
	position: relative;
}

.cbp-tm-menu > li > a {
	line-height: 4em;
	padding: 0 0.3em;
	font-size: 1.2em;
	display: block;
	color: #fff;
}

.cbp-tm-menu .logo {
	float: left;
	margin-top: 1.5em;
}

.no-touch .cbp-tm-menu > li > a:hover,
.no-touch .cbp-tm-menu > li > a:active {
	color: #02639d;
}


/* Media Queries */
@media screen and (max-width: 55.6875em) {
	.cbp-tm-menu {
		font-size: 80%;
	}

	.cbp-tm-menu .logo {
		width: 90px;
	}
}

@media screen and (max-height: 25.25em), screen and (max-width: 44.3125em) {

	#soundcloud-wrapper {
		min-height: 650px;
	}

	.cbp-tm-menu, .video .cbp-tm-menu {
		border-top: 1px solid #fff;
		font-size: 100%;
		position: relative;
		text-align: center;
		padding: 0;
		top: auto;
	}

	.cbp-tm-menu > li {
		display: block;
		margin: 0;
	}

	.cbp-tm-menu > li > a, .video .cbp-tm-menu > li > a  {
		font-size: 1.75em;
	}

	.cbp-tm-menu .logo {
		float: none;
		margin: 10% auto;
		width: 150px;
	}

	.cbp-tm-menu > li:first-child {
		margin-top: 50%;
	}

	.social h1 {
		display: none;
	}

}
