<!doctype html>
<meta charset='utf-8'>

<!-- Itemscope and itemtype attributes. -->
<html itemscope itemtype="http://schema.org/MusicVideoObject">
<head>
<!--                                                                                   
         .,,,,.     @@####################################AX&AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA#:           
         :hX33   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                                    @3           
                #G  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@H&H@3                                   #S           
                 @  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@B2r;                                   #S           
               ,@r  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@S                                 #i           
         s@3hhG3.   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                                #i           
         AA         @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@s                              #i           
         hG         @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@H                             #i           
         .,         @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#                            #i           
                    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#                           #i           
                    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@M                          #i           
        ;Xhhhh2:    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&                         #i           
      :#X,    ;A#   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@2                        @s           
     ,@.        r@  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@r                       #s           
     Mr          A; @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@:                      @s           
     #;          Xs @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@.                     @s           
     :@         .@  @@@@@@@@@@@@@@@@@@@@@@@@@@r ,@@@@@@@@@@@@@@@@@@@@@@@@@                     @s           
      r@i.    .5#.  @@@@@@@@@@@@@@@@@@@@@@@@@@    :@@@@@@@@@@@@@@@@@@@@@@@@                    @s           
        S&G99Ghr    h,@@@@@@@@@@@@@@@@@@@@@@@@@     ,@@@@@@@@@@@@@@@@@@@@@@@                   @s           
                    # 2@@@@@@@@@@@@@@@@@@@@@@@@M      ;@@@@@@@@@@@@@@@@@@@@@@                  @r           
                   .@  @@@@@@@@@@@@@@@@@@@@@@@@@:       B@@@@@@@@@@@@@@@@@@@@&                 @r           
                   .@   #@@@@@@@@@@@@@@@@@@@@@@@@        r@@@@@@@@@@@@@@@@@@@@A                @r           
         9G9hA2    ,@    .@@@@@@@@@@@@@@@@@@@@@@@#         @@@@@@@@@@@@@@@@@@@@B               @r           
        @;    :    ,@      :@@@@@@@@@@@@@@@@@@@@@@;         @@@@@@@@@@@@@@@@@@@@#              @r           
        @          ,@        ;@@@@@@@@@@@@@@@@@@@@@          G#@@@@@@@@@@@@@@@@@@@             @r           
        ,BGS;      ,@          ;@@@@@@@@@@@@@@@@@@@@             ;G@@@@@@@@@@@@@@@@            @r           
           ;2BM    ,@         2G:5#@@@@@@@@@@@@@@@@@2          iA3XA@@@@@@@@@@@@@@@@           @r           
              r@   ,@          i@@M@@@@@@@@@@@@@@@@@@.    .S#@@@@@@@@@@@@@@@@@@@@@@@,          @r           
        2:    5#   ,@            @@@@@@@@@@@@@@@@@@@@@  :@@@@@@@@@@@@@@@@@@@@@@@@@@@           @r           
        ;9hXXXr    ,@             @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@,           @r           
                   ,@              S@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@;            @r           
                   ,@                @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@X               @r           
                   ,@                 ;@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@M:                 @;           
        ;;;:::;;   ,@                 .;B@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@5                    @;           
       .isr@Brsr   :@        ..,rSG9@@@@#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@5                       @;           
           A;      :@   .A@@@@@@@    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#r                          @;           
           Ar      ,@r@@@@@@@@@@h    r@@@@@@@@@@@@@@@@@@@@@@@@@@G:                             @;           
           As      .@@@@@@@@@@@@M     @@@@@@@@@@@@@@@@@@@@@@#5                                 @;           
           Hs      .@@@@@@@@@@@@@      @@@@@@@@@@@@@@@@@@@@@:                                  @;           
           Hi      .Xr@@@@@@@@@@@,     ;@@@@@@@@@@@@@@@@@@@@@                                  @;           
           MS      ,A @@@@@@@@@@@@      3@@@@@@@@@@@@@@@@@@@@r                                 @;           
           .       ,#  @@@@@@@@@@@@,    s@@@@@@@@@@@@@@@@@@@@@                                 @;           
                   :@   @@@@@@@@@@@@@HXS  &A.#@@@@@@@@@@@@@@@@;                                @;           
                   :@    s;@@@@@@@@@@@@#,     @@@@@@@@@@@@@@@@@                                @;           
       :       .,  :@      @@@@@@@@@@@@@@r    i@@@@@@@@@@@@@@@@;                               @;           
       @.      s@  :@      @@@@@@@@@@@@@@r     @@@@@@@@@@@@@@@@@                               @;           
       @       r@  :@       @@@@@@@@@@@@@:      @@@@@@@@@@@@@@@@3                              @;           
       @       ;#  :@       r@@@@@@@@@@@@;      s@@@@@@@@@@@@@@@@                              @:           
       @       ;#  :@        G@@@@@@@@@@@;       @@@@@@@@@@@@@@@@@                             @:           
       @       :@  ;@         #@@@@@@@@@@s        @@@@@@@@@@@@@@@@5                            @:           
       AH      @s  ;@          #@@@@@@@@@M        :@@@@@@@@@@@@@@@@,,                          @:           
        &M5rr2Bs   ;@           G@@@@@@@@@         2@@@@@@@@@@@@@@@@#;                         @:           
          ;rr,     ;@            ;@@@@@@@@5         9@@@@@@@@@@@@@@@@@;                        @:           
                   ;@              @@@@@@@@          @@@@@@@@@@@@@@@@@@:                       @:           
                   ;@               r@@@@@@@          @@@@@@@@@@@@@@@@@@                       @:           
         ,. ...    ;@                 A@@@@#           @@@@@@@@@@@@@@@@@@                      @:           
         2H@i2hM2  ;@                  ,hS:             A@@@@@@@@@@@@@@@@@:                    @:           
           Hs   M& ;@                                    ;@@@@@@@@@@@@@@@@@A                   @:           
            @,  .@ ;@                                     ;#@@@@@@@@@@@@@@@@i                  @:           
            .@ ,#, ;@                                    .@i@@@@@@@@@@@@@@@@@r                 @:           
         @Sir9@r   ;@                                     A@@@@@@@@@@@@@@@@@@@                 @:           
         @    ;#   ;@                                      @@@@@@@@@@@#5,   @                  @,           
         @     i@  ;@                                      .@@@@@@9;        #:                 @,           
         ;      r, ;@                                       9@@@sr,          @                 @,           
                   r@                                        s    @          @@@@,             @,           
                   r@                                            M@Mi      h@@@@@@@,           @,           
                   r@                                            @@@@@@@H#@@@@@@@@@@@;         @,           
        @9X333Gi   r@                                           ;@@@@@@@@@@@@@@@@@@@@@@h.      @,           
        @          r@                                           @@@@@@@@@@@@@@@@@@@@@@@@@@9,   @,           
        @          r@                                          s@@@@@@@@@@@@@@@@@@@@@@@@@@@@@9 @.           
        @ssiiSr    r@                                          ;@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@            
        @..,,,,    r@                                            ,X#@@@2:@@@@@@@@@@@@@@@@@@@@@@@            
        @          r@                                                     ,;sS3AM@@@@@@@@@@@@@@@            
        @          i@                                                                          @.           
        h222XX9s   ,@AHHBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBHHHAAA&&&A&G93X2255Sisrrr;;;;;;rrr#   

created with love by kchamp.info and Mikey Baby. IF IT DOESNT HAVE THE POSTURE LOGO, ITS A BOOTLEG YOU LOWNTIE
 -->

	<!-- Place this data between the <head> tags of your website --> 
	<title>Posture</title>
	<meta name="description" content='David Ashley - "Perfect Dark" album' />

	<!-- Schema.org markup for Google+ -->
	<meta itemprop="name" content="Posture">
	<meta itemprop="description" content='David Ashley - "Perfect Dark" album'>
	<meta itemprop="image" content="http://www.itsposture.com/files/perfectdark_picture.jpg">

	<!-- Twitter Card data -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@posturelabel">
	<meta name="twitter:title" content="Posture">
	<meta name="twitter:description" content='David Ashley - "Perfect Dark" album'>
	<meta name="twitter:creator" content="@posturelabel">
	<!-- Twitter summary card with large image must be at least 280x150px -->
	<meta name="twitter:image:src" content="http://www.itsposture.com/files/perfectdark_picture.jpg">

	<!-- Facebook Open Graph data -->
	<meta property="og:title" content="Posture" />
	<meta property="og:type" content="album" />
	<meta property="og:url" content=" http://www.itsposture.com/" />
	<meta property="og:image" content="http://www.itsposture.com/files/perfectdark_picture.jpg" />
	<meta property="og:description" content='David Ashley - "Perfect Dark" album' />
	<meta property="og:site_name" content="Posture" />
<!--   <meta property="fb:admins" content="Facebook numberic ID" /> -->

	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">

	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
	<script src='js/modernizr.custom.js'></script>
	<script src="js/ng-plangular.min.js"></script>
	<script src='js/okvideo.js'></script>
	<script>
// detects if user is on mobile
	// 		function detectmob() {
	// 		 if( navigator.userAgent.match(/Android/i)
	// 			 || navigator.userAgent.match(/webOS/i)
	// 			 || navigator.userAgent.match(/iPhone/i)
	// 			 || navigator.userAgent.match(/iPad/i)
	// 			 || navigator.userAgent.match(/iPod/i)
	// 			 || navigator.userAgent.match(/BlackBerry/i)
	// 			 || navigator.userAgent.match(/Windows Phone/i)
	// 		 ){
	// 				$('body').addClass('gif-background-7');
	// 			}
	// 			// if not on mobile, trigger desktop experience
	// 		 else {
	// 			$(function(){
	// 			$.okvideo({ source: 'icMQvyKmfWQ',
	// 									volume: 0,
	// 									disablekeyControl: false,
	// 									loop: true,
	// 									hd:true,
	// 									adproof: true,
	// 									annotations: false,
	// 									onFinished: function() { console.log('finished') },
	// 									unstarted: function() { console.log('unstarted') },
	// 									onReady: function() { $('#okplayer-mask').hide(); console.log('onready')},
	// 									onPlay: function() { console.log('onplay') },
	// 									onPause: function() { console.log('pause') },
	// 									buffering: function() { console.log('buffering')},
	// 									cued: function() { console.log('cued') },
	// 							 });
	// 					});
	// 			}
	// 	};

	// $( document ).ready(function() {
	// 		detectmob();
	// });
// 	</script>

	
	<link rel="stylesheet" type="text/css" href="css/00normal.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,400italic' rel='stylesheet' type='text/css'>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="css/menu.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/red.css">
</head>
<body class='gif-background-7'>

	<div id="container" ng-app="plangular">
		<nav class="cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-top" id="cbp-spmenu-s3">
			<a href="/good">David Ashley - "Good"</a>
			<a href="/samereason">Khalfani ft. David Ashley - "Same Reason"</a>
			<a href="/starz">David Ashley - "Starz"</a>
      <a href="/pilot">Posture S1, E1</a>
		</nav>
  <i class="fa fa-arrow-right no-show"></i>

<div id="soundcloud-wrapper" plangular="https://soundcloud.com/posturesound/sets/perfect-dark-david-ashley">
<!--     <div class="table mb1">
      <h3 class="table-cell full-width m0">{{ user.username || '&nbsp;' }}</h3>
      <small class="h6 table-cell nowrap">{{ currentTime | prettyTime }} - {{ duration | prettyTime }}</small>
    </div> -->
   <!--  <h1 class="m0">{{ title || '&nbsp;' }}</h1> -->
   <img src="logo.png" width="80%" style="margin:auto;display:block;margin-bottom:1em;">
    <div class="table controls">
      <div class="table-cell">
        <button class="button-icon" ng-click="previous()">
          <i class="fa fa-step-backward"></i>
        </button>
      </div>
      <div class="table-cell">
        <button class="h2 button-icon" ng-click="playPause(player.playlistIndex)">
          <i ng-if="player.tracks[player.i] != track || !player.playing" class='fa fa-play'></i>
          <i ng-if="player.tracks[player.i] == track && player.playing" class="fa fa-pause"></i>
        </button>
      </div>
      <div class="table-cell">
        <button class="button-icon" ng-click="next()">
          <i class="fa fa-step-forward"></i>
        </button>
      </div>
      	<progress value="{{ currentTime / duration || 0 }}"
	    ng-click="seek($event)">
	    {{ currentTime / duration }}
	</progress>
<!--  <div class="table-cell full-width">
        <div class="px1">
          <progress value="{{ currentTime / duration || 0 }}"
            ng-click="seek($event)">
            {{ currentTime / duration }}
          </progress>
        </div>
      </div> -->
    </div>
  <div ng-repeat="t in tracks">
    <a href="#{{ example.id }}" class="block p1 nav-item"
      ng-click="playPause($index)"
      ng-class="{ 'bg-darken-1': player.currentTrack == t }">
     <!--  <span class="mr1">{{ $index + 1 }}.</span> -->
       {{ t.title }}
    </a>
  </div>
</div>


<!--Social Media Footer -->
		<div id="social-media">
				<a class="icon-link" href="http://www.soundcloud.com/posturesound" target="_blank" >
					<i class="fa fa-soundcloud"></i>
				</a>
				<a class="icon-link"  href="http://www.twitter.com/posturelabel" target="_blank" >
				 <i class="fa fa-twitter"></i>
				</a>
				<a class="icon-link"  href="https://www.tumblr.com/blog/edgyboyarchives" target="_blank">
					<i class="fa fa-tumblr"></i>
				</a>
				<a class="icon-link"  href="mailto:posturelabel@gmail.com" target="_blank" >
					<i class="fa fa-plug"></i>
				</a>
        <a class="icon-link" href="/">
        <i class="fa fa-home"></i>
        </a>

				<div id="download">
					<a class="download-link icon-link" href="https://s3.amazonaws.com/posturelabel/David+Ashley+%22Perfect+Dark%22.zip">
						<i class="fa fa-download "></i>
						<span>Download Album</span>
					</a>
				</div>

			<div id="logo">
					<img src="posture-type.png" style="float:right;" width="125px"> 
			</div>

		</div><!--  close social media footer -->
	</div><!--  close container -->
</body>
</html>
